<footer class="footer">
  <p>Intro</p>
  <div class="icons">
    <a href="https://github.com/agneym/quick-read-slack" class="icon-link">
      <img src="assets/github.svg" alt="Github" class="icon-img">
    </a>
    <a href="https://twitter.com/share?url=https%3A%2F%2Freco.agney.dev%2F&via=agneymenon" class="icon-link">
      <img src="assets/twitter.svg" alt="Github" class="icon-img">
    </a>
    <a href="https://www.buymeacoffee.com/agney" class="icon-link">
      <img src="assets/coffee.svg" alt="Buy me a Coffee" class="icon-img" height="24">
    </a>
  </div>
</footer>