<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %></title>
<meta name="theme-color" content="#F54F4F" />
<meta name="slack-app-id" content="A014JV1RR89" />
<link rel="icon" type="image/png" sizes="196x196" href="assets/favicon.png" />
<meta
  name="description"
  content="Quick Read app allows you to view ad free versions of articles from URLs posted on Slack channels. The articles are added as a reply post whenever you invoke Quick Read from the message menu."
/>
<meta
  name="keywords"
  content="slack, quick read, ad-free, reader"
/>
<meta name="author" content="Agney Menon" />

<meta name="twitter:card" value="summary" />
<meta name="twitter:creator" value="@agneymenon" />
<meta name="og:image" value="https://quick-read.herokuapp.com/assets/icon.png" />
<meta property="og:title" content="Quick Read for Slack" />
<meta property="og:url" content="https://quick-read.herokuapp.com/" />
<meta
  property="og:description"
  content="Quick Read app allows you to view ad free versions of articles from URLs posted on Slack channels. The articles are added as a reply post whenever you invoke Quick Read from the message menu."
/>
<link
  href="https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@0,600;1,600&display=swap"
  rel="stylesheet"
/>
