<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quick Read on Slack</title>
    <meta name="slack-app-id" content="A014JV1RR89" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@0,600;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="page-container">
      <section class="text">
        <div>
          <img src="assets/icon.png" alt="" width="50" class="logo">
          <div class="text-container">
            <h1 class="main-heading">Quick Read for Slack</h1>
            <p class="subtitle">Read Ad-free articles inside your Slack.</p>
          </div>
          <a
            href=<%="https://slack.com/oauth/v2/authorize?client_id=73427254193.1154987875281&scope=commands,files:write,chat:write&state="+stateToken%>
            ><img
              alt="Add to Slack"
              height="40"
              width="139"
              src="https://platform.slack-edge.com/img/add_to_slack.png"
              srcset="
                https://platform.slack-edge.com/img/add_to_slack.png    1x,
                https://platform.slack-edge.com/img/add_to_slack@2x.png 2x
              "
          /></a>
        </div>
      </section>
      <section class="image">
        <div class="frame"></div>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
