<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: 'Quick Read for Slack' }) %>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="background" aria-hidden="true"></div>
    <main class="page-container">
      <section class="text">
        <div>
          <img src="assets/icon.png" alt="" width="50" class="logo initial">
          <div class="text-container">
            <h1 class="main-heading initial">Quick Read for Slack</h1>
            <p class="subtitle initial">Read Ad-free articles inside your Slack.</p>
          </div>
          <a
            href=<%="https://slack.com/oauth/v2/authorize?client_id=73427254193.1154987875281&scope=commands,files:write,chat:write&state="+stateToken%>
            class="cta-btn initial"  
          >
          <img
              alt="Add to Slack"
              height="40"
              width="139"
              src="https://platform.slack-edge.com/img/add_to_slack.png"
              srcset="
                https://platform.slack-edge.com/img/add_to_slack.png    1x,
                https://platform.slack-edge.com/img/add_to_slack@2x.png 2x
              "
          /></a>
        </div>
      </section>
      <section class="image">
        <div class="frame"></div>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
  <script src="scripts/script.js"></script>
</html>
