:root {
  font-size: 10px;
  --display-font: "Lato", sans-serif;
  --heading-font: "Playfair Display", serif;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--display-font);
  background-image: url(assets/header-bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000000;
  background-blend-mode: overlay;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
